Source: ssft
Section: utils
Priority: optional
Maintainer: Sergio Talens-Oliag <sto@debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: gettext
Vcs-Git: https://github.com/sto/ssft.git
Standards-Version: 4.1.3
Vcs-Browser: https://github.com/sto/ssft

Package: ssft
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: gettext-base, dialog, zenity | kdialog
Description: Shell Scripts Frontend Tool
 Shell function library useful to build shell script frontends.
 .
 The library defines a set of functions to display messages and read values
 from the user on X (using zenity or kdialog) or console (using dialog or
 plain text) and has been designed to be used by sourcing the library code
 from other scripts.
 .
 The library supports L10N if gettext.sh is installed.
